// 颜色定义规范
$color-background: #d44439;
$color-background-d: rgba(255, 255, 255, 0.9);
$color-border: #E4E4E4;
$color-text: #fff;
$color-icon: #fff;
$color-light: #757575;
$color-text-d: rgba(255, 255, 255, 0.3);
$color-theme: #d44439;
$color-theme-d: rgba(255, 255, 255, 0.3);
// 字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;